name: build & deploy

on:
  push:
    branches: [main]

jobs:
  setup-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
      - name: Setup nodejs
        uses: actions/setup-node@v6.2.0
        with:
          node-version: '24'

      - name: Install dep
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm run build
      - name: Test
        run: pnpm run test
        continue-on-error: true
      - name: upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: dist-file
          path: dist
  deploy:
    needs: setup-and-build
    runs-on: ubuntu-latest
    steps:
      - name: get build
        uses: actions/download-artifact@v6.0.0
        with:
          name: dist-file
      - name: Output comtent
        run: ls
      - name: deploy
        run: echo "Deploying"
