name: build & deploy

on:
  push:
    branches: [main]

jobs:
  setup-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 9
      - name: Setup nodejs
        uses: actions/setup-node@v6.2.0
        with:
          node-version: '24'
          cache: pnpm
      - name: Install dep
        run: pnpm i --frozen-lockfile
      - name: Build
        run: pnpm run build
      - name: Test
        run: pnpm run test
        continue-on-error: true
