name: build & deploy

on:
  push:
    branches: [main]

jobs:
    setup-and-build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@4
        - name: Setup pnpm
          uses: pnpm/action-setup@4
          with:
            version: 9
        - name: Setup nodejs
          uses: actions/setup-node@4
          with:
            node-version: '24'
            cache: pnpm
        - name: Install dep
          run: pnpm i --frozen-lockfile
        - name: Build
          run: pnpm run build
        - name: Test
          run: pnpm run test
          continue-on-error: true
